li span a:hover {
    text-decoration: none;
    cursor: pointer;
}
.page-header .logo {
    width: 290px;
    height: 61px;
    background-position: -11px 0;
    margin-top: 12px;
    background: url("http://sg1-cdn.pgimgs.com/images/pg/new_img/consumer_sprites_01.png") no-repeat;
}

#map {
    width: 960px;
    height: 400px;
}

.price_table {
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-weight: normal;
    color: #444444;
}
.price_table a{ color: #444444;}
.price_table .align_center{text-align: center;}

.price_table .pack-title{
    font-size: 20px;
    margin-top:10px;
    color: #fff;
    font-family: fantasy;
}

.price_table .price{
    font-family: roboto;
    font-size: 50px;
    color: #217515;
    margin:20px 0px 20px 0px;
    color: #fff;
}
.price_table .time{
    font-size: 14px;color: #217515;
    text-shadow: 0 1px 0 rgba(125, 207, 61, 0.4);}  
    
/* --- header row 1 ---  */
.price_table .column_1 .header_row_1 {
    height: 45px;
    width: 100%;
    padding: 5px 0px 0px 0px;
}

.price_table .column_1 .header_row1_color1 {
    background: linear-gradient(#E57373, #F44336);
}

.price_table .column_1 .header_row1_color2 {
    background: linear-gradient(#81C784, #4CAF50);
}

.price_table .column_1 .header_row1_color3 {
    background: linear-gradient(#26C6DA, #00ACC1);
}

/* --- header row 2 ---  */
.price_table .column_1 .header_row_2 {
    height: 100px;
    width: 100%;
    padding: 5px 0px;
}

.price_table .column_1 .header_row2_color1 {
    background: linear-gradient(#EF9A9A, #E57373);
}

.price_table .column_1 .header_row2_color2 {
    background: linear-gradient(#A5D6A7, #81C784);
}

.price_table .column_1 .header_row2_color3 {
    background: linear-gradient(#80DEEA, #26C6DA);
}

    
.price_table .column_1 {
    height: 100%;
    float: left;
    width:33.1%;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 1px solid #eee;
}   

/**** COLUMN HOVERS ****/
.price_table .column_1:hover {
    position: relative;
    z-index: 100;
    box-shadow: 5px 0px 25px rgba(0,0,0,0.7);
    -webkit-box-shadow: 5px 0px 25px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 0px 25px rgba(0,0,0,0.7);
    -webkit-transform: translate(-5px,-15px);
    -moz-transform: translate(-5px,-15px);
    -o-transform: translate(-5px,-15px);
    -ms-transform: translate(-5px,-15px);
    transform: translate(-5px,-15px);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}
    
/**** DATA ROWS  ****/
.price_table .row_style_1,
.price_table .row_style_2,
.price_table .row_style_footer_1,
.price_table .row_style_footer_2 {
    width: 100%;
    /*height: 40px;*/
    float: left;
}
/*
.price_table .height {
    height: 40px;
}*/

.price_table .row_style_footer_1, .price_table .row_style_footer_2 {padding: 10px 0px; text-align: center;}
    
.price_table .row_style_1, .price_table .row_style_footer_1 {background-color: #fff;}
.price_table .row_style_2, .price_table .row_style_footer_2 {background-color: #F0EED9;}

.price_table .row_1 { background-color: #f7f7f7}
.price_table .row_2 { background-color: #eee}

.price_table .row_style_1 span, .price_table .row_style_2 span { 
    position: relative;
    font-size: 14px;
    padding: 15px;
    margin-left: 30px;
    display: inline-block;
    line-height: 1.5em;
}

.price_table .pack-title span:before {
    background: url("../images/Home-icon.png") no-repeat 0 0;
    width: 24px;
    height: 24px;
    left: 1%;
    position: absolute;
    content: "";
}

.price_table .house_pic {
    text-align: center;
    padding-top: 9px;
}

.price_table .house_pic span {
    position: relative;
    font-size: 14px;
    padding: 4px;
    display: inline-block;
    margin-left: 0
}

.dotted{
  border-bottom: 1px dashed #999;
  text-decoration: none; 
}

.star-rating:hover {
    cursor: pointer;
}